.btn.mod-toggle {
  width: 95px;
  height: 30px;
  background-color: #FFF;
  border: 1px solid #6C90F3;
  color: #6C90F3;
  font-family: Avenir-Book;
  font-size: 15px;
  line-height: 25px;
  cursor: pointer;
  border-radius: 34px;
  outline: none;
  transition: all .05s ease-in-out;

  &:hover {
    transition: all .05s ease-in-out;
    color: #FFF;
    background-color: #6C90F3;
  }
}
