.list-item {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  cursor: pointer;
  padding: 15px 20px;
  transition: background 75ms linear;

  h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: Avenir-Medium;
    font-weight: normal;
    font-size: 16px;
    color: #414141;
    line-height: 22px;
    margin-bottom: 5px;
  }

  h2 {
    font-family: Avenir-Light;
    font-weight: normal;
    font-size: 14px;
    color: #A6A6A6;
    line-height: 19px;
  }

  &:hover {
    background: #EBF3FA;
  }
}

.list-item-active {
  background: #EBF3FA;
}
