.icon {
  font-size: 24px;
  cursor: pointer;
  transition: all linear 100ms;

  &:hover {
    opacity: 0.6;
  }
}

.collection-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/assets/images/collections-gray.svg) no-repeat;
}

.down-arrow-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/assets/images/down-arrow.svg) no-repeat center center;
}


.bundle-view-header-wrapper {
  height: 65px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  align-items: center;
}

.toggle-btn-wrapper {
  margin-left: auto;
  display: inline-block;
}

.btn.mod-toggle {
  width: 95px;
  height: 30px;
  background-color: #FFF;
  border: 1px solid #6C90F3;
  color: #6C90F3;
  font-family: Avenir-Book;
  font-size: 15px;
  line-height: 25px;
  cursor: pointer;
  border-radius: 34px;
  outline: none;
  transition: all .05s ease-in-out;

  &:hover {
    transition: all .05s ease-in-out;
    color: #FFF;
    background-color: #6C90F3;
  }
}
