.search-header-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  height: 8.7vh;
  border-bottom: 1px solid #ECECEC;

  .close-search {
    position: absolute;
    color: #B4B4B4;
    cursor: pointer;
    top: 20px;
    right: 25px;
  }

  .search-input {
    background: #FCFCFC;
    border: 1px solid #ECECEC;
    border-radius: 13px;
    font-family: Avenir-Light;
    font-size: 14px;
    color: #B4B4B4;
    line-height: 21px;
    text-indent: 10px;
    color: #4E4E4E;
    padding: 2px;
    margin: 3px 0;
    width: 100%;
    outline: none;
  }
}
