.bundle-view-description {
  .name {
    font-family: Avenir-Medium;
    font-weight: normal;
    font-size: 30px;
    color: #333333;
    line-height: 30px;
  }

  .description {
    font-family: Avenir-Book;
    font-size: 16px;
    color: #353535;
  }

  .bundle-view-description-name-input,
  .bundle-view-description-desc-input {
    border: none;
    outline: none;
  }

  .bundle-view-description-desc-input {
    resize: none;
    min-width: 500px;
    min-height: 160px;
  }

  .bundle-name {
    margin: 10px 0;
  }

  .btn {
    width: 95px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #6C90F3;
    color: #6C90F3;
    font-family: Avenir-Book;
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
    border-radius: 34px;
    outline: none;
    transition: all .05s ease-in-out;

    &:hover {
      color: #FFF;
      background-color: #6C90F3;
    }
  }


}
