.bundle-view-description {
  .name {
    font-family: Avenir-Medium;
    font-weight: normal;
    font-size: 30px;
    color: #333333;
    line-height: 30px;
  }

  .description {
    font-family: Avenir-Book;
    font-size: 16px;
    color: #353535;
  }
}
