.resource-navigation {
	.header{
		display: flex;
		justify-content: space-between;
		padding: 15px 20px;
		align-items: center;
		border-bottom: 1px solid #ECECEC;

		.icon {
			font-size: 24px;
			margin-left: 10px;
		}

		.title {
	    margin: 0;
	    font-size: 23.85px;
	    color: #C2C2C2;
	    line-height: 26px;
	    padding: 4px 0;
	  }
	}
}
