.resource-navigation {
  .header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #ECECEC;

    .header {
      display: flex;
      justify-content: space-between;
      line-height: 10px;
    }

    .icon {
      font-size: 24px;
      margin-left: 10px;
    }

    .search-icon {
      display: inline-block;
      width: 17px;
      height: 17px;
      background: url(/assets/images/search-icon.svg) no-repeat;
    }

    .title {
      margin: 0;
      font-size: 23.85px;
      color: #C2C2C2;
      line-height: 26px;
      padding: 4px 0;
    }
  }
}
